/* font: import ================================================ */
@font-face {
  font-family: 'variableFont';
  src: url('./font/RobotoFlex.ttf') format('truetype');
}


/* Layout ================================================ */
html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  transition: background-color 1s ease-in-out;
  background-color: #2846FD;
  /* background-image: url('./img/tiri_oracle1.jpg'); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


/* =========================================================== */
/* Teachable Machine: Webcam Container */
/* =========================================================== */
#webcam-container {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 160px;     /* <-- change size */
  height: 160px;
  -webkit-transform: translate(-50%, -50%) scale(1, 1);
  -moz-transform: translate(-50%, -50%) scale(1, 1);
  -ms-transform: translate(-50%, -50%) scale(1, 1);
  -o-transform: translate(-50%, -50%) scale(1, 1);
  transform: translate(-50%, -50%) scale(1, 1);
  place-items: center;
  z-index: -1;

  border-radius: 50%;
  overflow: hidden;
}

canvas {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* border-radius: 10px; */
} 


/* text ================================================ */
.mainText1 {
  opacity: 0.2;
  position: fixed;
  top: 0;
  left: 0;
  font-family: 'variableFont';
  font-size: 50px;
  font-weight: 1000;
  fill: white;
  text-align: left;
  letter-spacing: 0;
  line-height: 200px;
  text-wrap: nowrap;
	transition: font-size 1s ease-in-out, font-variation-settings 1s ease-in-out;
}

.mainText2 {
  opacity: 0.2;
  position: fixed;
  bottom: 0;
  left: 0;
  font-family: 'variableFont';
  font-size: 20px;
  fill: white;
  text-align: left;
  letter-spacing: 0;
  line-height: 200px;
  text-wrap: nowrap;
	transition: font-size 1s ease-in-out, font-variation-settings 1s ease-in-out;
}

/* .variable1{
  opacity: 1 !important;
} */

.curve{
  fill:transparent;
}

.text{
  fill: white;
}

#name {
  transform: rotate(0deg);
  transform-origin: 50% 50%;
}

#occupation {
  transform: rotate(60deg);
  transform-origin: 50% 50%;
}

#date {
  transform: rotate(100deg);
  transform-origin: 50% 50%;
}

#location {
  transform: rotate(180deg);
  transform-origin: 50% 50%;
}

#website {
  transform: rotate(180deg);
  transform-origin: 50% 50%;
}
/* Circles ================================================ */
.poster {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.rings {
  width: 100%;
  height: 100%;
  display: block;
}

/* Base style for ALL rings */
/* .ring {
  font-family: 'variableFont';
  fill: white;
  opacity: 0.2;        
  transition: opacity 250ms ease, transform 800ms ease;
} */

.ring {
  font-family: 'variableFont';
  fill: white;
  opacity: 0.2;
  transform-origin: 50% 50%;

  animation: rotate 70s linear infinite;
  animation-play-state: paused; /* STOP by default */
}


/* Size per ring */
.ring--name { font-size: 64px; font-weight: 1000; }
.ring--occupation { font-size: 24px; font-weight: 500; }
.ring--date { font-size: 36px; font-weight: 700; }
.ring--location { font-size: 28px; font-weight: 600; }
.ring--websites { font-size: 18px; font-weight: 600; }

/* Activated */
.ring.active {
  opacity: 1;
  /* animation: rotate 70s linear infinite; */
  animation-play-state: running;
}

@keyframes rotate{
  from{
    transform: rotateZ(0deg);
  }
  to{
    transform: rotateZ(360deg);
  }
}
/* Optional: rotate different rings */
/* .ring--name { transform-origin: 400px 400px; }
.ring--occupation { transform-origin: 400px 400px; }
.ring--date { transform-origin: 400px 400px; }
.ring--location { transform-origin: 400px 400px; }
.ring--websites { transform-origin: 400px 400px; } */
